<ion-header [translucent]="true" class="mi-panel-header">
  <ion-toolbar>
    <ion-title>
      <img src="/assets/img/duoc.png" alt="panel" class="panel">
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <img src="/assets/img/01.avif" alt="Imagen de fondo" class="background-image">
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
  
    </ion-label>
  </ion-title>

  <div class="ion-padding-vertical">

    <ion-card class="ion-text-center ion-padding-vertical">

      <ion-card-title class="ion-text-center">
        <img src="assets/img/duoc.png" Título de la página class="titulo-imagen">
      <p>Sistema de Asistencia Duoc</p>
        <ion-label>
          <h2>¡Bienvenido!</h2>
        </ion-label>
      </ion-card-title>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Password</ion-label>

          <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
          <button class="mi-boton" (click)="ingresar()">INGRESAR</button>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-label>
        <br>
        <a (click)="ingresarPaginaValidarCorreo()" >Recuperar contraseña</a>
      </ion-label>  
    </ion-card>
  </div> 
</ion-content>
